# System Files
.DS_Store
Thumbs.db

# IDE & Editor Files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Local Environment / Server Settings
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build/Dev Server Dependencies (in case npm packages are added in the future)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dist/Build Folders (if any build tool is used in the future)
dist/
build/
out/
